
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Register.cshtml";
}

<h3 class="text-center mb-3">Register a New Account Here!</h3>


<form method="post" action="RegisterForm">
    <div class="row mb-3">

        <div class="col-md-6">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control" id="FirstName" name="FirstName" type="text" placeholder="Enter your first name" />
                <label for="FirstName">First name</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" id="LastName" name="LastName" type="text" placeholder="Enter your last name" />
                <label for="LastName">Last name</label>
            </div>
        </div>

    </div>

    <div class="form-floating mb-3">
        <input class="form-control" id="EmailAdd" name="EmailAdd" type="email" placeholder="name@example.com" />
        <label for="EmailAdd">Email address</label>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control" id="Password" name="Password" type="password" placeholder="Create a password" />
                <label for="Password">Password</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3 mb-md-0">
                <input class="form-control" id="PasswordConfirm" name="PasswordConfirm" type="password" placeholder="Confirm password" />
                <label for="PasswordConfirm">Confirm Password</label>
            </div>
        </div>
    </div>

    <input type="submit" class="form-control btn btn-primary" name="Submit" id="Submit"/>

</form>

